@use "btn.scss";
@use "variables.scss";

.add-task {
  display: flex;
  place-content: center;

  &__input {
    margin-right: 10px;
    opacity: 0;
    width: 0;
    font-size: variables.$font-size-xl;
    background-color: variables.$secondary-clr;
    color: variables.$font-clr;
    transition: opacity 0.6s, width 0.6s;
    border: none;
    &:focus {
      outline: none;
    }

    &_visible {
      padding: 5px;
      height: 50px;
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
    @media (max-width: variables.$screen-width-m) {
      font-size: variables.$font-size-l;
    }
    @media (max-width: variables.$screen-width-s) {
      font-size: variables.$font-size-s;
      height: 20px;
      margin-right: 5px;
    }
  }

  &__btn {
    @extend .btn;
    margin: auto;
    width: 60px;
    height: 60px;
    border: none;
    background-image: url("https://www.svgrepo.com/show/474943/plus.svg");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    @media (max-width: variables.$screen-width-s) {
      width: 30px;
      height: 30px;
    }
  }
}
