@use "./src/styles/content.scss";
@use "./src/styles/Header.scss";
@use "./src/styles/AddTask.scss";
@use "./src/styles/SearchBar.scss";
@use "./src/styles/Task.scss";
@use "./src/styles/TaskList.scss";
@use "./src/styles/TasksAmount.scss";
@use "variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Rubik", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f3ebac;
  color: $font-clr;
}
