@use "./src/styles/content.scss";
@use "./src/styles/Header.scss";
@use "./src/styles/AddTask.scss";
@use "./src/styles/SearchBar.scss";
@use "./src/styles/Task.scss";
@use "./src/styles/TaskList.scss";
@use "./src/styles/TasksAmount.scss";
@use './variables.scss';

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, #2929a2 -65%, #2983e2 110%);
  color: variables.$font-clr;
}


