@use "variables.scss" as *;

.searchbar {
  display: flex;
  place-items: center;
  background-color: $secondary-clr;
  border-radius: 10px;

  &__input {
    margin-left: 5px;
    padding-left: 5px;
    font-size: $font-size-xl;
    background-color: $secondary-clr;
    border: none;
    color: $font-clr;
    width: 100%;
    &:focus {
      outline: none;
    }
    @media (max-width: $screen-width-m) {
      font-size: $font-size-l;
    }
    @media (max-width: $screen-width-s) {
      font-size: $font-size-s;
      height: 20px;
    }
  }

  &__icon {
    opacity: 0.3;
    border: none;
    width: 30px;
    color: $font-clr;
    padding: 10px;
    flex-shrink: 0;
    margin-left: 10px;
    @media (max-width: $screen-width-s) {
      height: 20px;
      padding: 5px;
    }
  }
}
