@use "variables.scss";

.tasks-amount {
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: variables.$font-size-l;
  width: fit-content;
  @media (max-width: variables.$screen-width-m) {
    font-size: variables.$font-size-m;
  }
  @media (max-width: variables.$screen-width-s) {
    font-size: variables.$font-size-s;
  }
}

.line-container {
  margin-top: 10px;
  display: grid;
}

.progress-line {
  &_done {
    height: 5px;
    background-color: variables.$accent-clr;
  }

  &_not-done {
    height: 5px;
    background-color: variables.$font-clr;
  }
}
