.tasks-amount {
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 25px;
  width: fit-content;
}

.line-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.progress-line {
  height: 5px;
  width: 25px;

  &_done {
    height: 5px;
    background-color: #15cb08;
    width: 25px;
  }

  &_not-done {
    height: 5px;
    background-color: #ffffff;
    width: 25px;
  }
}
