@use "variables.scss" as *;

.task-list {
  margin: 30px auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: black;
  padding: 30px;
  border-radius: 10px;

  &__message {
    font-size: 32px;
    margin: 40px auto;
    text-align: center;
    color: black;

    @media (max-width: $screen-width-m) {
      font-size: $font-size-m;
    }
    @media (max-width: $screen-width-s) {
      font-size: $font-size-s;
    }
  }
}
