@use "btn.scss";
@use "variables.scss";

.task {
  display: flex;
  gap: 25px;
  transition: opacity 0.6s;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }

  @media (max-width: variables.$screen-width-s) {
    gap: 10px;
  }

  &_done {
    opacity: 0.5;
  }

  &__text {
    font-size: variables.$font-size-xl;
    margin: 0;
    line-height: 1.25;
    display: flex;
    align-items: center;
    word-break: break-all;
    &_done {
      text-decoration: line-through;
    }
    @media (max-width: variables.$screen-width-m) {
      font-size: variables.$font-size-l;
    }
    @media (max-width: variables.$screen-width-s) {
      font-size: variables.$font-size-s;
    }
  }

  &__checkbox {
    appearance: none;
    flex-shrink: 0;
    border: 3px solid variables.$accent-clr;
    border-radius: 10%;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0;
    @media (max-width: variables.$screen-width-s) {
      width: 25px;
      height: 25px;
    }
    &::before {
      cursor: pointer;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      background-color: #22b83ba5;
      background-size: contain;
      @media (max-width: variables.$screen-width-s) {
        width: 20px;
        height: 20px;
      }
    }
    &:checked::before {
      background-image: url("https://cdn-icons-png.flaticon.com/512/1634/1634264.png");
    }
  }

  &__delete-btn {
    @extend .btn;
    background-image: url("../images/trash.svg");
    border: none;
    flex-shrink: 0;
    cursor: pointer;
    @media (max-width: variables.$screen-width-s) {
      width: 17px;
      height: 17px;
    }
  }

  &__edit-btn {
    @extend .btn;
    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
    background-image: url("../images/edit.svg");
    border: none;
    cursor: pointer;
    @media (max-width: variables.$screen-width-s) {
      width: 17px;
      height: 17px;
    }

    &_edit-mode {
      background-image: url("../images/tick.svg");
    }
    &_hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__edit-textarea {
    font-family: "Rubik", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    height: fit-content;
    font-size: 32px;
    width: 100%;
    border: 1px solid #f0f8ff33;
    background-color: transparent;
    color:black;;
    resize: none;
    @media (max-width: variables.$screen-width-m) {
      font-size: variables.$font-size-l;
    }
    @media (max-width: variables.$screen-width-s) {
      font-size: variables.$font-size-s;
    }
    &:focus {
      outline: none;
    }
  }
}
