@use "./variables.scss";

.task-list {
  margin: 30px auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__message {
    font-size: 32px;
    margin: 40px auto;
    text-align: center;

    @media (max-width: variables.$screen-width-m) {
      font-size: variables.$font-size-m;
    }
    @media (max-width: variables.$screen-width-s) {
      font-size: variables.$font-size-s;
    }
  }
}
