body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(51, 52, 55);
  color: aliceblue;
}

.content {
  margin-top: 50px;
  padding: 0 12%;
  max-width: 1000px;
  margin: 50px auto;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 0 10%;
  gap: 20%;
  background-color: black;
  align-items: center;
}

.header__logo {
  width: 80px;
  height: 80px
}
.header__title {
  font-weight: 600;
  font-size: 40px;
  margin: 0;
}

.task-list {
  margin: 50px auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.task-list__task {
  display: flex;
  gap: 25px;
  transition: opacity 0.6s;
}

.task-list__task_done {
  opacity: 0.5;
}

.task-list__not-found {
  font-size: 32px;
  margin: 40px auto;
  text-align: center;
}
.task-list__checkbox {
  appearance: none;
  flex-shrink: 0;
  border: 2px solid rgb(0, 255, 238);
  border-radius: 10%;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0;
  place-content: center;
}

.task-list__checkbox::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  border-radius: 10%;
  background-color: rgba(168, 163, 163, 0.8);
}

.task-list__checkbox:checked::before {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1634/1634264.png");
  background-size: contain;
}

.task-list__delete-btn {
  background-image: url("https://cdn-icons-png.flaticon.com/512/6861/6861362.png");
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  margin-left: auto;
  flex-shrink: 0;
  cursor: pointer;
}

.task-list__text {
  font-size: 32px;
  margin: 0;
}

.task-list__text_done {
  text-decoration: line-through;
}

.add-task {
  display: flex;
  place-content: center;
}

.add-task__input {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 32px;
  border-radius: 3%;
  visibility: hidden;
  transition: opacity 0.6s;
}

.add-task__input:focus{
  outline: none;
}

.visible {
  padding: 5px;
  height: 50px;
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.add-task__btn {
  margin: auto;
  width: 80px;
  height: 80px;
  border: none;
  background-image: url("https://www.svgrepo.com/show/474943/plus.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.searchbar {
  display: flex;
  place-items: center;
}

.searchbar__input {
  height: 50px;
  padding: 5px;
  font-size: 32px;
  border-radius: 3%;
  width: 100%;
}

.searchbar__input:focus{
  outline: none;
}

.searchbar__btn {
  background-image: url("https://www.svgrepo.com/show/294195/search.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  object-position: center;
  box-sizing: content-box;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  flex-shrink: 0;
}
