body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(180deg, #2929a2 -65%, #2983e2 110%);
  color: rgb(255, 255, 255);
}

.content {
  margin-top: 50px;
  padding: 0 12%;
  max-width: 1000px;
  margin: 50px auto;
}

.header {
  display: flex;
  justify-content: flex-start;
  padding: 0 10%;
  gap: 10%;
  background-color: rgb(4, 34, 116);
  align-items: center;
  box-shadow: 0px 0px 10px 8px rgba(45, 92, 245, 0.651);
}

.header__logo {
  width: 80px;
  height: 80px;
  fill: #2929a2;
  background-position: center;
  background-size: contain;
}
.header__title {
  font-weight: 600;
  font-size: 40px;

  margin: 0;
}

.tasks-amount {
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 25px;
  width: fit-content;
  position: relative;
}

.tasks-amount::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(4, 34, 116);
}

.task-list {
  margin: 30px auto;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.task-list__task {
  display: flex;
  gap: 25px;
  transition: opacity 0.6s;
}

.task-list__task_done {
  opacity: 0.5;
}

.task-list__not-found {
  font-size: 32px;
  margin: 40px auto;
  text-align: center;
}
.task-list__checkbox {
  appearance: none;
  flex-shrink: 0;
  border: 3px solid #15cb08;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  position: relative;
  margin: 0;
  place-content: center;
}

.task-list__checkbox::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
  border-radius: 10%;
  background-color: rgba(34, 184, 59, 0.649);
  background-size: contain;
}

.task-list__checkbox:checked::before {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1634/1634264.png");
}

.task-list__delete-btn {
  background-image: url("images/trash.svg");
  background-size: contain;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  cursor: pointer;
  color: #020918;
}

.task-list__edit-btn {
  margin-left: auto;
  margin-right: 0;
  flex-shrink: 0;
  background-image: url("images/edit.svg");
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  border: none;
  cursor: pointer;
  height: 30px;
  transition: opacity 0.4s;
}

.task-list__edit-btn_edit-mode {
  background-image: url("images/tick.svg");
}

.task-list__edit-btn_hidden {
  opacity: 0;
  pointer-events: none;
}

.task-list__text {
  font-size: 32px;
  margin: 0;
  line-height: 1.25;
}

.task-list__edit-textarea {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 32px;
  width: 100%;
  border: 1px solid rgba(240, 248, 255, 0.2);
  background-color: transparent;
  color: aliceblue;
  resize: none;
}

.task-list__edit-textarea:focus {
  outline: none;
}

.task-list__text_done {
  text-decoration: line-through;
}

.add-task {
  display: flex;
  place-content: center;
}

.add-task__input {
  margin-right: 10px;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 32px;
  visibility: hidden;
  background-color: rgb(44, 118, 255);

  color: white;
  transition: opacity 0.6s;
  border: none;
}

.add-task__input:focus {
  outline: none;
}

.visible {
  padding: 5px;
  height: 50px;
  width: 100%;
  opacity: 1;
  visibility: visible;
}

button {
  transition: scale 0.3s;
}
button:hover {
  scale: 1.2;
}
.add-task__btn {
  margin: auto;
  width: 60px;
  height: 60px;
  border: none;
  background-image: url("https://www.svgrepo.com/show/474943/plus.svg");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.searchbar {
  display: flex;
  place-items: center;
  background-color: rgb(44, 118, 255);
}

.searchbar__input {
  height: 50px;
  padding: 5px;
  font-size: 32px;
  background-color: rgb(44, 118, 255);
  border: none;
  color: white;
  width: 100%;
}

.searchbar__input:focus {
  outline: none;
}

.searchbar__icon {
  opacity: 0.3;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  box-sizing: content-box;
  border: none;
  width: 30px;
  color: white;
  height: 30px;
  padding: 10px;
  flex-shrink: 0;
  margin-left: 10px;
}

.hover-opacity {
  transition: opacity 0.2s;
}

.hover-opacity:hover {
  opacity: 0.5;
}
